@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right bottom,
    #5c4fe7,
    #5d49de,
    #5d42d5,
    #5d3ccc,
    #5d35c3,
    #5a2fbb,
    #582ab4,
    #5524ac,
    #501ea4,
    #4b189b,
    #461193,
    #41098b
  );
  min-height: 100vh;
}